<BOUCLE_focus_rubrique(RUBRIQUES){id_rubrique IN #CONFIG{html5up_escape_velocity/rubrique_focus}|picker_selected{rubrique}}>
<section id="highlights" class="wrapper style3">
	[<header class="title">
		<h2>(#CONFIG{html5up_escape_velocity/titre_focus_accueil}|sinon{#TITRE})</h2>
    </header>]

    [(#REM) 

        Le tri et l'ordre de tri des articles
    
    ][(#CONFIG{html5up_escape_velocity/rubrique_focus_ordre}|=={antechronologique}|?{
        [(#SET{tri,date})] [(#SET{sens_tri,-1})]        
    ,
        [(#SET{tri,num titre})] [(#SET{sens_tri,0})]
    })]
	<div class="container">
		<div class="row aln-center">    
            <BOUCLE_focus_article(ARTICLES)
                {id_rubrique}
                {tri #GET{tri}}
                {inverse  #GET{sens_tri}}
                {0,3}>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    [<a href="#URL_ARTICLE" class="image featured">
                        (#LOGO_ARTICLE_RUBRIQUE|extraire_attribut{src}
                                                |balise_img
                                                |image_recadre{370:93,-,focus}
                                                |adaptive_images{370}) </a>] 
                    <h3>#TITRE</h3>
                    #INTRODUCTION{120}
                    <ul class="actions">
                        <li><a href="#URL_ARTICLE" class="button style1">Learn More</a></li>
                    </ul>
                </section>
            </div>                
            </BOUCLE_focus_article>

		</div>
	</div>
</section>
</BOUCLE_focus_rubrique>