<section id="main" class="wrapper style2">
	
	[<header class="title">
		<h2>(#CONFIG{html5up_escape_velocity/titre_grille_accueil})</h2>
	</header>]

	<div class="container">

		[<div class="image featured">
			(#LOGO_RUBRIQUE|extraire_attribut{src}
							|balise_img
							|image_recadre{1270:320,-,focus}
							|adaptive_images{360/768/980/1270})
		</div>]

		<B_sommaire>
		#ANCRE_PAGINATION
		<section id="features">
			<div class="feature-list">
				<ul class="row">
					<BOUCLE_sommaire(RUBRIQUES)
						{racine}
						{par titre, num titre}
						{pagination #ENV{pagination,6}}>
					<li class="col-6 col-12-medium">
						<a href="#URL_RUBRIQUE">
							<h3><span class="fa fa-quote-left"></span>#TITRE</h3>
							<p>#INTRODUCTION{125}</p>
						</a>
					</li>
					</BOUCLE_sommaire>
				</ul>
			</div>
		</section>
		[<p class="pagination">(#PAGINATION{page_precedent_suivant})</p>]
		</B_sommaire>

	</div>
</section>