<div id="sidebar">
    <section class="box">
        <header>
            <h2>Ipsum nullam luctus</h2>
        </header>
        <p>Malesuada quis eget eros. Nullam sodales cursus sapien, id consequat
        leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit
        amet risus elit.</p>
        <a href="#" class="button style1">Learn More</a>
    </section>
    <section class="box">
        <header>
            <h2>Vitae turpis consequat</h2>
        </header>
        <ul class="style2">
            <li>
                <article class="box post-excerpt">
                    <a href="#" class="image left"><img src="images/pic08.jpg" alt="" /></a>
                    <h3><a href="#">Diam odio lorem</a></h3>
                    <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                </article>
            </li>
            <li>
                <article class="box post-excerpt">
                    <a href="#" class="image left"><img src="images/pic09.jpg" alt="" /></a>
                    <h3><a href="#">Sed duis consequat</a></h3>
                    <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                </article>
            </li>
            <li>
                <article class="box post-excerpt">
                    <a href="#" class="image left"><img src="images/pic10.jpg" alt="" /></a>
                    <h3><a href="#">Tellus nulla volutpat</a></h3>
                    <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                </article>
            </li>
        </ul>
        <a href="#" class="button style1">Archives</a>
    </section>
    <section class="box">
        <header>
            <h2>Magna diam vehicula</h2>
        </header>
        <ul class="style3">
            <li><a href="#">Nulla iaculis egestas varius</a></li>
            <li><a href="#">Augue massa feugiat quam pretium</a></li>
            <li><a href="#">Orci sem vel libero cras nisi odio</a></li>
            <li><a href="#">Sed hendrerit massa nam mattis</a></li>
            <li><a href="#">Turpis vel leo accumsan aliquet</a></li>
            <li><a href="#">Dapibus mi fermentum fusce non</a></li>
            <li><a href="#">Arcu laoreet sapien tempus</a></li>
            <li><a href="#">Nulla iaculis egestas varius</a></li>
            <li><a href="#">Augue massa feugiat quam pretium</a></li>
            <li><a href="#">Orci sem vel libero cras nisi odio</a></li>
            <li><a href="#">Sed hendrerit massa nam mattis</a></li>
        </ul>
    </section>
</div>