<body class="[(#SI_PAGE{sommaire}) homepage] is-preload">
	<div id="page-wrapper">

	<INCLURE{fond=header/#ENV{type-page},env}>
	<INCLURE{fond=content/#ENV{type-page},env}>
	<INCLURE{fond=footer/#ENV{type-page},env}>


	</div>

	<!-- Scripts -->
	<script src="#CHEMIN{javascript/jquery.dropotron.min.js}"></script>
	<script src="#CHEMIN{javascript/browser.min.js}"></script>
	<script src="#CHEMIN{javascript/breakpoints.min.js}"></script>
	<script src="#CHEMIN{javascript/util.js}"></script>
	<script src="#CHEMIN{javascript/main.js}"></script>
	
</body>