[(#REM)
        
        Si on est en mode blog, on affiche les articles dans l'ordre inverse chrono,
        sinon, par num titre.

][(#CONFIG{html5up_escape_velocity/mode_accueil}|=={blog}|?{ 
    [(#SET{tri,date})][
    (#SET{sens_tri,1})]
    ,
    [(#SET{tri,num titre})][
    (#SET{sens_tri,0})]
})][

    (#REM) La pagination : 12 par défaut surchargeable par la variable pagination

][
(#SET{pagination,#ENV{pagination,12}})][

    (#REM) La largeur des colonnes : par défaut 3 (sur une grille de 12) surchargeable par la variable largeur-colonnes

][
(#SET{largeur-colonnes,#ENV{largeur-colonnes,3}})]
<B_articles>
    #ANCRE_PAGINATION
    <section class="row gtr-150">
    <BOUCLE_articles(ARTICLES){id_rubrique}
        {tri #GET{tri}}
        {inverse #GET{sens_tri}}
        {pagination #GET{pagination}}>

        <div class="[col-(#GET{largeur-colonnes})] col-12-small">
            <section class="box">
                <header>
                    <h2>#TITRE</h2>
                </header>
                [<a href="#URL_ARTICLE" class="image featured">
                    (#LOGO_ARTICLE_RUBRIQUE|extraire_attribut{src}
                                            |balise_img
                                            |image_recadre{261:130,-,focus}
                                            |adaptive_images{261})
                </a>]
                #INTRODUCTION{200}
                <a href="#URL_ARTICLE" class="button style1">More</a>
            </section>
        </div>
    

    </BOUCLE_articles>
</section>
[<p class="pagination">(#PAGINATION)</p>]
</B_articles>