<BOUCLE_principale(ARTICLES) {id_article}>
<section id="main" class="wrapper style2">

	<div class="title">#INFO_TITRE{rubrique,#ID_RUBRIQUE}</div>

	<div class="container">
		
		<div class="row gtr-150">

			<div class="col-4 col-12-medium">
				<INCLURE{fond=inclure/sidebar} />
			</div>

			<div class="col-8 col-12-medium imp-medium">

				<div id="content">
					<article class="box post">
						<header class="entente style1">
							<h1 [class="(#EDIT{titre})"]>#TITRE</h1>
							[<p [class="(#EDIT{soustitre})"]>(#SOUSTITRE)</p>]
						</header>
		
						[<div class="image featured">
							(#LOGO_ARTICLE_RUBRIQUE|extraire_attribut{src}
													|balise_img
													|image_recadre{1270:320,-,focus}
													|adaptive_images{360/768/980/1270})
						</div>]
		
						[<div class="chapo #EDIT{chapo}">(#CHAPO)</div>]
						[<div class="texte #EDIT{texte}">(#TEXTE)</div>]		
		
						<aside>
							[(#REM) Gestion du portfolio et des documents ]
							[(#INCLURE{fond=inclure/portfolio,id_article,id_rubrique=#EVAL{null}})]
							[(#INCLURE{fond=inclure/documents,id_article})]
						</aside>
		
					</article>
				</div>

			</div>
		</div>
	</div>
</section>
</BOUCLE_principale>

<INCLURE{fond=inclure/accueil-focus} />