[(#REM)
	Est-ce qu'on se connecte a l'espace prive ou pas ?
]#SET{prive,''}
[(#ENV{url}|=={''}|?{#SET{prive,' '}})]
[(#ENV{url}|match{^#EVAL{_DIR_RESTREINT_ABS}}|?{#SET{prive,' '}})]
<section id="main" class="wrapper style2">

	<div class="title">#NOM_SITE_SPIP</div>

	<div class="container">

		<!-- Content -->
			<div id="content">
				<article class="box post">
					<header class="entente style1">
						[<h1>(#GET{prive}|?{<:login_acces_prive:>,<:lien_connecter:>})</h1>]
					</header>

					#MENU_LANG_ECRIRE

					[(#FORMULAIRE_LOGIN{#ENV{url}|sinon{#URL_ECRIRE{accueil}}})]
				</section>
			</div>

	</div>
</section>

<INCLURE{fond=inclure/accueil-focus} />