<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section id="main" class="wrapper style2">

    <div class="title">#INFO_TITRE{rubrique,#ID_RUBRIQUE}</div>

    <div class="container">

        <div id="content">
            <article class="box post">
                <header class="entente style1">
                    <h1 [class="(#EDIT{titre})"]>#TITRE</h1>
                    [<p [class="(#EDIT{soustitre})"]>(#SOUSTITRE)</p>]
                </header>

                [<div class="image featured">
                    (#LOGO_RUBRIQUE|extraire_attribut{src}
                                            |balise_img
                                            |image_recadre{1270:320,-,focus}
                                            |adaptive_images{360/768/980/1270})
                </div>]

                [<div class="chapo #EDIT{chapo}">(#DESCRIPTIF)</div>]
                [<div class="texte #EDIT{texte}">(#TEXTE)</div>]

                <INCLURE{fond=inclure/liste/articles,env,ajax} />

                <aside>
                    [(#REM) Gestion du portfolio et des documents ]
                    [(#INCLURE{fond=inclure/portfolio,id_rubrique})]
                    [(#INCLURE{fond=inclure/documents,id_rubrique})]
                </aside>

            </article>
        </div>

    </div>
</section>
</BOUCLE_content>
<INCLURE{fond=inclure/accueil-focus} />