<BOUCLE_article_intro_accueil(ARTICLES){id_article IN #CONFIG{html5up_escape_velocity/article_intro_accueil}|picker_selected{article}}>
<section id="intro" class="wrapper style1">
	<header class="title">
		<h2>#TITRE</h2>
	</header>
	<div class="container">
		[<div class="style1 #EDIT{chapo}">(#CHAPO)</div>]
		<ul class="actions">
			<li><a href="#URL_ARTICLE" class="button style3 large"><:zcore:lire_la_suite:></a></li>
		</ul>
	</div>
</section>
</BOUCLE_article_intro_accueil>

[(#REM) Mode d'affichage de l'accueil : site ou blog ]
[(#CONFIG{html5up_escape_velocity/mode_accueil}|=={blog}|non) <INCLURE{fond=inclure/accueil-rubriques,env,ajax} />]
[(#CONFIG{html5up_escape_velocity/mode_accueil}|=={blog}|oui) <INCLURE{fond=inclure/accueil-articles,env,ajax} />]

<INCLURE{fond=inclure/accueil-focus} />
