<!-- Footer -->
<section id="footer" class="wrapper">
	<BOUCLE_article_pied(ARTICLES){id_article IN #CONFIG{html5up_escape_velocity/article_pied}|picker_selected{article}}>
		<header class="title">
			<h2>#TITRE</h2>
		</header>
		<div class="container article_pied">
			[<div [class="(#EDIT{chapo})"]>(#CHAPO)</div>]
			[<div [class="(#EDIT{texte})"]>(#TEXTE)</div>]
		</div>
	</BOUCLE_article_pied>
		[(#PLUGIN{contact}|oui)
		<header class="title">
			<h2><:info_contact:></h2>
		</header>]
	<//B_article_pied>


	<div class="container">

		[(#REM)

			On test la présence des plugins avant d'afficher la suite du pied de page
		
		][(#PLUGIN{identite_extra}|ou{#PLUGIN{sociaux}}|ou{#PLUGIN{contact}}|ou{#PLUGIN{mailsubscribers}}|oui)
		<div class="row">

			[<div class="col-6 col-12-medium">
				<section>
					<div class="ajax">(#FORMULAIRE_CONTACT)</div>						
				</section>
			</div>]

			<div class="col-6 col-12-medium">
				<!-- Contact -->
					<section class="feature-list small" itemscope itemtype="http://schema.org/Organization">
						<div class="row">

							[(#PLUGIN{identite_extra}|oui)
							<div class="col-6 col-12-small">
								<section>
									<h3 itemprop="name"><i class="fa fa-home"></i><:identite_extra:adresse:></h3>
									<p>
										[<span itemprop="name">(#IDENTITE_NOM_ORGANISATION|sinon{#NOM_SITE_SPIP})</span><br />]
										<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
											[<span class="#EDIT{meta-identite_extra/adresse}" itemprop="streetAddress">(#IDENTITE_ADRESSE)</span><br />]
											[<span class="#EDIT{meta-identite_extra/code_postal} code-postal zip" itemprop="postalCode">(#IDENTITE_CODE_POSTAL)</span>][
											<span class="#EDIT{meta-identite_extra/ville} ville" itemprop="addressLocality">(#IDENTITE_VILLE)</span><br />][
											<span class="#EDIT{meta-identite_extra/region} region" itemprop="addressRegion">(#IDENTITE_REGION)</span>][
											<span class="#EDIT{meta-identite_extra/pays} pays" itemprop="addressCountry">(#IDENTITE_PAYS)</span>]								
										</span>
									</p>
								</section>
							</div>]							
							
							[(#PLUGIN{sociaux}|oui)
							<div class="col-6 col-12-small">
								<section>
									<h3><i class="fa fa-comment"></i><:sociaux:sociaux_titre:></h3>
									 <INCLURE{fond=inclure/sociaux}> 							
								</section>
							</div>

							<div class="col-6 col-12-small">
								<section>
									<h3><i class="fa fa-envelope"></i>Email</h3>
									[<p><a href="mailto:#CONFIG{sociaux/mail}" itemprop="email">(#CONFIG{sociaux/mail})</a></p>]
								</section>
							</div>]
							
							[(#PLUGIN{identite_extra}|oui)
							<div class="col-6 col-12-small">
								<section>
									<h3 itemprop="telephone"><i class="fa fa-phone"></i>Phone</h3>
									[<p>(#IDENTITE_TELEPHONE)</p>]
								</section>
							</div>]
						</div>
					</section>

			</div>
		</div>]
		<div id="copyright">
			[(#PLUGIN{menus}|oui)<INCLURE{fond=inclure/menu, identifiant=pied} />]
			<ul class="menu-liste menu-items copyright">
				<li class="menu-entree item">
					<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee>-</B_annee>
					<span>[(#DATE|annee) ] &mdash; #NOM_SITE_SPIP</span>
				</li>
				<li class="menu-entree item"><a rel="contents" href="#URL_PAGE{plan}"><:plan_site:></a></li>
				<?php
			if (isset($GLOBALS['visiteur_session']['id_auteur']) AND $GLOBALS['visiteur_session']['id_auteur']) {
			?>
				<li class="menu-entree item"><a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a></li>
				<?php
				if (include_spip('inc/autoriser') AND autoriser('ecrire')) {
			?>
				<li class="menu-entree item"><a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a></li>
				<?php
				}
			} else {
			?>
				<li class="menu-entree item"><a href="[(#URL_PAGE{login}|parametre_url{url,#SELF|parametre_url{url,''}})]" rel="nofollow" class='login_modal'><:lien_connecter:></a></li>
				<?php
			}
			?>
				<li class="menu-entree item"><a href="https://html5up.net/" title="<:html5up_escape_velocity:theme_graphique_par_html5up|attribut_html:>" class="spip_out">HTML5 UP</a></li>
		
				<li class="menu-entree item">
					<small class="generator">
						<a href="https://www.spip.net/" rel="generator" title="<:site_realise_avec_spip|attribut_html:>" class="spip_out">
							[<img src="(#CHEMIN{images/spip.svg})" alt="SPIP" width="16" height="16" />]
						</a>
					</small>
				</li>
			</ul>

		</div>
	</div>
</section>