<div class="formulaire_spip formulaire_configurer formulaire_#FORM">


	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<h3 class="titrem"><:html5up_escape_velocity:graphisme:></h3>
	<div>
		#ACTION_FORMULAIRE

		<fieldset>
			<legend><:html5up_escape_velocity:entete:></legend>
			<div class="editer-groupe">
				[(#SAISIE{selecteur_document,image_entete,
					label=<:html5up_escape_velocity:image_entete:>,
					explication=<:html5up_escape_velocity:image_entete_explication:>})]
			</div>
			<div class="editer-groupe">
				[(#SAISIE{checkbox,masquer_texte_entete,
	    			label=<:html5up_escape_velocity:masquer_texte_entete:>,
					datas=#ARRAY{
						on,<:html5up_escape_velocity:masquer_texte_entete_texte:>
					},
					default=on
				})]
			</div>
		</fieldset>

		<h3 class="titrem"><:zcore:accueil:></h3>
		<fieldset>
			<legend><:html5up_escape_velocity:intro:></legend>
			<div class="editer-groupe">
				[(#SAISIE{selecteur_article,article_intro_accueil,
					label=<:html5up_escape_velocity:article_intro_accueil:>,
					explication=<:html5up_escape_velocity:article_intro_accueil_explication:>})]
			</div>
		</fieldset>
		<fieldset>
			<legend><:html5up_escape_velocity:grille:></legend>
			<div class="editer-groupe">

				[(#SAISIE{input,titre_grille_accueil,
					label=<:html5up_escape_velocity:titre_grille_accueil:>,
					explication=<:html5up_escape_velocity:titre_grille_accueil_explications:>})]

				[(#SAISIE{radio,mode_accueil,
					label=<:html5up_escape_velocity:mode_accueil:>,
					explication=<:html5up_escape_velocity:mode_accueil_explications:>,
					datas=#ARRAY{
						site,<:html5up_escape_velocity:mode_accueil_site:>,
						blog,<:html5up_escape_velocity:mode_accueil_blog:>},
						defaut=site})]
			
			</div>
		</fieldset>
		
		<fieldset>
			<legend><:html5up_escape_velocity:focus:></legend>
			<div class="editer-groupe">

			[(#SAISIE{input,titre_focus_accueil,
				label=<:html5up_escape_velocity:titre_focus_accueil:>,
				explication=<:html5up_escape_velocity:titre_focus_accueil_explications:>})]

			[(#SAISIE{selecteur_rubrique,rubrique_focus,
				label=<:html5up_escape_velocity:rubrique_focus:>,
				explication=<:html5up_escape_velocity:rubrique_focus_explication:>})]

			[(#SAISIE{radio,rubrique_focus_ordre,
				label=<:html5up_escape_velocity:rubrique_focus_ordre:>,
				explication=<:html5up_escape_velocity:rubrique_focus_ordre_explications:>,
				datas=#ARRAY{
					defaut,<:html5up_escape_velocity:rubrique_focus_ordre_defaut:>,
					antechronologique,<:html5up_escape_velocity:rubrique_focus_ordre_antechronologique:>},
					defaut=defaut})]

			</div>
		</fieldset>

		<h3 class="titrem"><:zcore:pied_de_page:></h3>
		<fieldset>
			<div class="editer-groupe">
				[(#SAISIE{selecteur_article,article_pied,
					label=<:html5up_escape_velocity:article_pied:>,
					explication=<:html5up_escape_velocity:article_pied_explication:>})]
			</div>
		</fieldset>

		<input type="hidden" name="_meta_casier" value="html5up_escape_velocity" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
