<section id="header" class="wrapper">

	<div id="logo" [(#CONFIG{html5up_escape_velocity/masquer_nom_site}|oui) class="invisible" ]
	>
		[(#SI_PAGE{sommaire}|oui) <h1><a href="#URL_SITE_SPIP">#NOM_SITE_SPIP</a></h1>]
		[(#SI_PAGE{sommaire}|non) <p class="h1"><a href="#URL_SITE_SPIP">#NOM_SITE_SPIP</a></p>]		
		[<p>(#SLOGAN_SITE_SPIP)</p>]
	</div>

	<B_rubriques>
	<nav id="nav">
		<ul>
			<li class="current"><a href="#URL_SITE_SPIP"><:zcore:accueil:></a></li>		
			<BOUCLE_rubriques(RUBRIQUES){racine} {par num titre}>
			<li><a href="#URL_RUBRIQUE">#TITRE</a>
				[(#REM) Une boucle recursive pour le mini plan]
				<B_miniplan>
				<ul>
					<BOUCLE_miniplan(RUBRIQUES) {id_parent} {par num titre}{!par date}>
					<li>
						<a href="#URL_RUBRIQUE">#TITRE</a>
						<BOUCLE_m2(BOUCLE_miniplan)></BOUCLE_m2>
					</li>
					</BOUCLE_miniplan>
				</ul>
				</B_miniplan>
			</li>
			</BOUCLE_rubriques>		
		</ul>
	</nav>
	</B_rubriques>

</section>
